extends ./layout

block header
  .row
    .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
      include ./layout/header
      header#header
        +headerLogo({breadcrumbs:false})
        +headerText(`Episode ${number}: ${title}`)

block content
  #content
    .row
      main.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        include ./components/breadcrumbs
        if soundcloudTrackID
          section.section-no-divider.episode-embedded-player
            include ./components/soundcloud-embed
            +soundcloudEmbed(soundcloudTrackID, false)
        section.section-no-divider.episode-actions
          h3 Subscribe to 
            em Doing Good Better
            small 
              a(href='/how-to-listen/') (help)
          include ./components/subscribe-buttons
          +subscribeButtons(false, true)
          if soundcloudTrackID
            h3 Download Episode #{number}: #{title}
            a.btn.btn-default(href=`http://feeds.soundcloud.com/stream/${soundcloudTrackID}.mp3` target="_blank") Download (.mp3) 
              i.fa.fa-download
        section.section-divider.episode-overview
          h2.episode-overview-title Overview
          != contents
        if guests && guests.length
          section.section-divider.episode-guests
            h2.episode-guests-title Guests
            ul.episode-guests-list
              each g in guests
                - var guest = contentfulIDMap[g.sys.id]
                li.episode-guests-list-guests
                  span.guest-title
                    strong!= guest.title
                  if guest.jobTitle
                    | — 
                    span.guest-job-title!= guest.jobTitle
        if transcript && transcript.length
          section.section-divider.episode-transcript
            h2.episode-transcript-title Transcript
            != transcript

        block postContent